

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');





.modal {
    background-color: #171717;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
}
.modal-body{
    margin: 8px;
    text-align: center;

}
